
/*_____________Content_____________ */

.Content {
  /* Отступы при уменьшении экрана*/
  padding: 0 15px;
  margin: 40px 0;
  min-height: calc(100vh - 195px);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


.Content_inner {
  width: 100%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.container_films {
  width: 100%;
  margin: 0 auto;
}

.container_film_header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #050f42;
  border-radius: 10px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}

.container_film_header_text {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.container_film_item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  width: 100%;
  max-width: 1000px;
  margin-top: 20px;
  border-radius: 10px; /* закругление углов для всех, кто понимает */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);

  background-color: #050f42;
}

.container_film_item_inner {
  padding: 10px;
  padding-top: 20px;
}

.container_film_img_and_info {
  display: flex;
  justify-content: space-between;
  height: auto;
  position: relative;
}

.container_film_img {
  flex: 0 0 300px;
  margin-left: 20px;
  margin-top: 30px;
}

.container_film_img img {
  max-width: 100%;
  border-radius: 10px;
}

.average_rating
{
  font-size: 20px;
  margin-top: 20px;
}

.container_film_info {
  flex: 1 1 auto;
  max-width: 690px;
}

.container_film_about_name_text {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  padding: 10px 5px;
  color: gold;
}
.container_film_gall_and_discuss {
  margin-top: 55px;
  width: 75%;
  position: absolute;
  right: -130px;
  bottom: 10px;
}

.container_film_gall_and_discuss_inner {
  display: flex;
  position: relative;
  top: 10px;
}

.item {
  background-color: #191f42;
  color: #fff;
  padding: 8px 15px;
  border: #fff 1px solid;
  border-radius: 3px;
  font-size: 16px;
  margin-right: 5px;
}

.add {
  padding-right: 10px;
}

.item i {
  margin-left: 10px;
}


.item:hover {
  background-color: blueviolet;
  transition: 0.2s linear;
}


.container_film_description_text {
  min-height: 100px;
  width: 100%;
  font-size: 16px;
  line-height: 1.7;
  padding: 10px 0 15px 0;
}

.container_film_about {
  display: block;
  padding: 8px 10px;
  padding-left: 58px;
}

.container_film_about_item {
  display: flex;
  justify-content: space-between;
  padding: 12px 8px;
  font-size: 14px;
  border-bottom: 1px solid #fff; /* Параметры границы */
}

.container_film_about_item_spec {
  min-width: 180px;
}

.container_film_about_item_value {
  width: 70%;
  text-align: left;
}

.burger {
  background: none;
  border: 0;
  padding: 9px 2px;
  display: none;
  cursor: pointer;
}

.burger__item {
  display: block;
  width: 30px;
  height: 3px;
  font-size: 0;

  background-color: #fff;

  color: transparent;

  position: relative;
}

.burger__item::before,
.burger__item::after {
  content: "";
  width: 100%;
  height: 100%;

  background-color: #fff;

  position: absolute;
  left: 0;
  z-index: 1;
}

.burger__item::before {
  top: -8px;
}

.burger__item::after {
  bottom: -8px;
}

.burger__item.active span {
  transform: scale(0);
}

.burger__item.active:before {
  transform: rotate(45deg);
  top: -9px;
}

.burger__item.active::after {
  transform: rotate(-45deg);
  bottom: 9px;
}

.burger__item.active {
  position: relative;
  top: 10px;
}

.burger__item.active {
  background: rgba(0, 0, 0, 0);
}


@media (max-width: 1650px) {
  .filter_block {
    display: none;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 991px) {
  .menu {
    display: none;
    /* text-align: right; */

    background-color: #31344e;

    top: 100%;
    right: 0;
    position: absolute;
  }

  .menu.show {
    display: flex;
  }

  .menu__list {
    flex-direction: column;
  }

  .sub__menu__list {
    position: absolute;
    top: -8px;
    left: -189px;
  }

  .sub__menu__link {
    background-color: #31344e;
  }

  .burger {
    display: block;
    margin-top: 10px;
  }

  .input {
    display: none;
  }
}


/* ________БлокФильтраПоиска_______ */

.filter_block {
  position: fixed;
  /* bottom: 20px; */
  margin-left: -23em;
  z-index: 100;
  height: auto;
  max-width: 300px;

  /* 
    left: 67.5px;
    top: 123px;
    bottom: 14px; */
  background-color: #050f42;
  border-radius: 10px;
  padding: 10px 15px;
}

.filter_block_inner {
  color: #fff;
  font-size: 22px;
}

.filter_block_item {
  z-index: 80;
  margin-top: 20px;
}
/* */

.filterHeaderText {
}

.filterList {
}

.select-filter {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  color: black;
  padding: 8px 15px;
  border: gold 1px solid;
  border-radius: 3px;
  font-size: 16px;
  margin-right: 5px;
  margin-top: 5px;
  width: 100%;

  outline: none;

  cursor: pointer;
}

.select:::-ms-expand {
  display: none;
}

.filterListWrapper {
  position: relative;
}

.filterListWrapper::before {
  content: "";

  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);

  display: block;
  width: 10px;
  height: 10px;

  pointer-events: none;

  /* Треугольник */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 6px 0 6px;
  border-color: #000000 transparent transparent transparent;
}

.dropdown_button {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  background-color: #fff;
  border: 1px solid #7e9bbd;
  border-radius: 3px;
  max-height: 40px;

  padding: 8px 15px;

  font-size: 16px;
  cursor: pointer;
}

.dropdown_button:focus {
  outline: none;
  box-shadow: 0px 0px 0px 4px rgba(176, 198, 225, 0.6);
}

.dropdown_button::after {
  content: "";

  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);

  display: block;
  width: 10px;
  height: 10px;

  pointer-events: none;

  /* Треугольник */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 6px 0 6px;
  border-color: #000000 transparent transparent transparent;
}


.dropdown {
  position: relative;
}

.dropdown_list {
  display: none;
  overflow: hidden;
  border-radius: 3px;
  width: 100%;
  color: #000000;
  z-index: 1000;
}

.dropdown_list--visible {
  display: block;
}

.dropdown_list_item {
  background-color: #fff;
  border: 1px solid #7e9bbd;
  padding: 8px 15px;
  border-bottom: 0px;
  cursor: pointer;
  border-radius: 3px;
}
.dropdown_list_item:first-child {
  margin-top: 1px;
}

.dropdown_list_item:last-child {
  border-bottom: 1px solid #7e9bbd;
}

.dropdown_list_item:hover {
  background-color: rgb(187, 212, 240);
}

.list {
  display: block;
  margin-top: 10px;
}

.control_text {
  margin-left: 10px;
}

.list label {
  display: block;
  margin-top: 3px;
}

.buttons_block {
  display: flex;
  width: 100%;
}

.buttons_block_inner {
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.button_ {
  border: 1px solid #fff;
  border-radius: 4px;
  margin-right: 30px;
  padding: 8px 20px;
  font-size: large;
}

.button_:last-child {
  margin-right: 0;
}

.search {
  width: 100%;
  margin-top: 20px;
  font-size: 18px;
}

form {
  display: flex;
  justify-content: space-between;
}

.search_field {
  font-size: 18px;
  color: #000000;
  border: blueviolet 2px solid;
  width: 83%;
  border-radius: 5px;
  padding: 10px 8px;
}

.search_button {
  font-size: 16px;
  border-radius: 5px;
  background-color: darkblue;
  color: #fff;
  width: 15%;
}


.film_buttons button {
  background: #050f42;
  color: #fff;
  border: 1px solid white;
  border-radius: 3px;
  padding: 8px 6px;
  transition: 0.2s linear;
  margin-top: 20px;

}


.film_rating {
	overflow: hidden;
	margin: 0 auto;
}
.film_rating:not(:checked) > input {
	display: none;
}
.film_rating:not(:checked) > label {
	float: right;
	width: 32px;
	padding: 0;
	cursor: pointer;
	font-size: 24px;
	line-height: 32px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.film_rating:not(:checked) > label:before {
	content: '★';
}
.film_rating > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.film_rating:not(:checked) > label:hover,
.film_rating:not(:checked) > label:hover ~ label {
	color: gold;
}
.film_rating > input:checked + label:hover,
.film_rating > input:checked + label:hover ~ label,
.film_rating > input:checked ~ label:hover,
.film_rating > input:checked ~ label:hover ~ label,
.film_rating > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.film_rating > label:active {
	position: relative;
}