* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  list-style: none;
}

body {
  background-color: #f5f5f5;
  height: 100%;
  /* Для фиксированной вёрстки */
  /* min-width: 1200px; */
}

.page {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Занимает весь экран */
}

@media (max-width: 1200px) {
  .page {
    min-width: 970px;
  }
}

@media (max-width: 992px) {
  .page {
    min-width: 750px;
  }
}

@media (max-width: 767px) {
  .page {
    min-width: none;
  }
}

/*_____________Фон______________  */

.background-image {
  /* background: url("../Images/Pattern-Cover-1600x1200.png") center; */
  background: url("../Images/background_image_2.jpg") center;
  background-size: cover;
  max-height: 150px;
}

/*______________Навигация_______________  */

.navigation {
  width: 100%;
  height: 56px;
  background-color: #191f42;
  /* position: fixed; */
  position: sticky;
  top: 0px;
  z-index: 3;
}

.navigation__inner {
  min-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 6px 10px;
  margin: 0 auto;
}

/*___________________Лого________________  */

.logo-block {
  margin-right: auto;
}

.logo {
  display: block;
  padding: 1px 1px;
  min-height: 60px;
  min-width: 60px;
  background: url("../Images/yellow_light.png") no-repeat;
  position: absolute;
  background-size: 54px 54px;
  top: 4px;
}

/* ________________Меню__________________ */

.menu {
  display: block;
  margin-left: auto;
  margin-left: auto;
}

/* Убираем подчеркивание для всех ссылок */

.menu a {
  text-decoration: none;
}

/* Убираем  стандартную стилизацию у списков*/
.menu li {
  position: relative;
  list-style: none;
  /* z-index: 1; */
}

.menu__list {
  display: flex;
}

/* Свойства дествуют только на первый элемент в списке */
.menu__list > li:hover .sub__menu__list {
  display: block;
}

/* Сохранение цвета первого элемента меню при наведении и последующем перемещением
в подменю */
.menu ul li:hover {
  background-color: blueviolet;
}

.menu__link {
  /* Делает элемент блочным */
  display: block;
  padding: 15px 32px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: white;
  transition: 0.3s linear;
}

.menu__link:hover {
  background-color: blueviolet;
  color: white;
}

/* __________Подменю_____________ */

.sub__menu__list {
  display: none;
  position: absolute;
  left: 0;
  top: 38px;
  padding: 10px 0 0 0;
  min-width: 180px;
}

.sub__menu__list li {
  border-bottom: 1px solid white;
}

.sub__menu__list li:last-child {
  border-bottom: none;
}

.sub__menu__link {
  text-align: center;
  /* Превращаем в блочный элемент */
  display: block;
  padding: 10px;
  background-color: #191f42;
  color: #fff;
  transition: 0.3s linear;
  min-width: 190px;
}


.sub__menu__list a:hover {
  background-color: blueviolet;
}

/*______________Регистрация вход_______________  */

.input {
  margin-left: auto;

  color: white;
  font-weight: 600;
}

.input__menu {
  display: flex;
  list-style: none;
}

.input__item {
  margin-right: 20px;
}

.input__item:last-child {
  margin-right: 0;
}

.input__link {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  padding: 5px 4px;
  transition: 0.3s linear;
}

.input__link:hover {
  /* background-color: #00085C; */
  background-color: blueviolet;
}




/* __________Footer__________ */

.footer {
  background-color: #191f42;
  color: #fff;
  margin-top: auto;
}

.container_footer {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.footer_inner {
  padding: 40px 0;
  display: flex;
}

.footer_block {
  width: 33.3333%;
  text-align: center;
}

.footer_block h4 {
  text-transform: uppercase;
  font-size: 16px;
}

/* _______Блок_контактов________ */
.footer_text_links {
  font-style: normal;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts_list {
  text-align: left;
  list-style: none;
  padding: 10px 0;
}

.contacts_list li {
  line-height: 2;
}

/* ________Ссылки_________ */
.social_footer h4 {
  margin-bottom: 15px;
}

.social_links {
  display: flex;
  justify-content: center;
}

.social_item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  background-color: #fff;
  border: 1px solid #91a8b4;
  transition: background 0.1s linear;
  margin: 0 10px;
}

.social_item:hover {
  background-color: #91a8b4;
}

/*__________Copyright____________*/
.footer_copyright {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_copyright_text {
  max-height: 50px;
  line-height: 1.5;
}

.footer_copyright_text span {
  color: gold;
}




