{% load static %}
<h3 style="">Подпишитесь на рассылку!</h3>
<form action="{% url 'contact' %}" method="post" class="subscribe_to_news">
    {% csrf_token %}
    {{ contact_form }}
    <button class="button_submit" type="submit">Подписаться</button>
</form>