{% extends 'movies/base.html' %}
{% block title %} {{ movie.title }} {% endblock title %}
  {% block movie %}
    <div class="container_film_header">
            <div class="container_film_header_text">Информация об актере</div>
    </div>
    <div class="container_films">
            <div class="container_film_item">
              <div class="container_film_item_inner">
                <div class="container_film_img_and_info">
                  <div class="container_film_img actor">
                        <img src="{{actor.image.url}}">
                  </div>
                  <div class="container_film_info">
                    <div class="container_film_info_inner">
                      <div class="container_film_about">
                        <div class="container_film_about_inner">
                          <div class="container_film_about_name">
                            <div class="container_film_about_name_text">
                              {{ actor.name }}
                            </div>
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Дата рождения
                            </div>
                            <div class="container_film_about_item_value">
                               {{ actor.age }} лет
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Место рождения
                            </div>
                            <div class="container_film_about_item_value">
                                --------
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Рост
                            </div>
                            <div class="container_film_about_item_value">
                                -------
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Карьера
                            </div>
                            <div class="container_film_about_item_value">
                                --------
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Награды
                            </div>
                            <div class="container_film_about_item_value">
                               -------
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Жанры
                            </div>
                            <div class="container_film_about_item_value">
                               -------
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Фильмы
                            </div>
                            <div class="container_film_about_item_value">
                               {% if actor.film_actor.all and actor.film_director.all%}
                                    {% for movie in actor.film_actor.all %}
                                        <a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a>
                                    {% endfor %}
                                    {% for movie in actor.film_director.all %}
                                        <a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a>
                                    {% endfor %}
                                {% elif actor.film_actor.all %}
                                    {% for movie in actor.film_actor.all %}
                                        <a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a>
                                    {% endfor %}
                                {% elif actor.film_director.all %}
                                    {% for movie in actor.film_director.all %}
                                        <a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Всего фильмов
                            </div>
                            <div class="container_film_about_item_value">
                               -------
                            </div>
                            <hr />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container_film_description">
                  <div class="container_film_description_text">
                    {{ actor.description|safe }}
                  </div>
                </div>
              </div>
            </div>
          </div>
    <section class="container_filmography">
      <div class="container_film_header filmography_header">
        Фильмография
      </div>
      <div class="container_film_item filmography_list">
        <div class="filmography_list_inner">
          <table class="filmography_table">
            <tr>
              <th>Год</th>
              <th>Название</th>
              <th>Роль</th>
            </tr>

                {% for movie in actor.film_director.all %}
            <tr>
                  <td class="first_column"> {{ movie.year }}</td>
                  <td class="second_column"><a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a></td>
                  <td class="third_column">Режиссер, Сценарист, Продюсер, Актер</td>
            </tr>
                {% endfor %}

          </table>
        </div>
      </div>
    </section>

  {% endblock movie %}