{% extends 'base.html' %}
{% block title %}{% endblock title %}
  {% block content %}
    <main class="Content">
        <div class="Content_inner">
            {% include 'include/sidebar.html' %}
            {% block movie %}

            {% endblock movie %}
        </div>
    </main>
{% endblock content %}
