{% extends 'movies/base.html' %}
{% load static i18n%}
{% block title %} {{ movie.title }} {% endblock title %}
  {% block movie %}
      <!-- Content films -->
          <div class="container_film_header">
            <div class="container_film_header_text">Информация о фильме</div>
          </div>
          <div class="search">
            {% include 'include/search.html' %}
            <a class="back_to back_to_list" href="{% url 'list_movie' %}">Назад</a>
          </div>
          <div class="container_films">
            <div class="container_film_item">
              <div class="container_film_item_inner">
                <div class="container_film_img_and_info">
                  <div class="container_film_img">
                    <img src="{{ movie.poster.url }}" alt="" />
                    <div class="film_buttons">
                      <a href="{{ movie.get_absolute_url }}gallery/">Галлерея</a>
                      <a>Добавить в список</a>
                    </div>
                    <div class="average_rating">
                      Средняя оценка: {{ movie.get_average_rating }}/10
                    </div>
                  </div>
                  <div class="container_film_info">
                    <div class="container_film_info_inner">
                      <div class="container_film_about">
                        <div class="container_film_about_inner">
                          <div class="container_film_about_name">
                            <div class="container_film_about_name_text">
                              {{ movie.title }}
                            </div>
                          </div>
                          <!-- Рейтинг -->
                          <form action="{% url 'add_rating' %}" method="post" name="rating" class="film_rating">
                            {% csrf_token %}
                            <input type="hidden" value="{{ movie.id }}" name="movie">
                              {% for k, v in star_form.fields.star.choices %}
                                <input id="rating{{ v }}" type="radio" name="star" value="{{ k }}">
                                <label for="rating{{ v }}"></label>
                              {% endfor %}
                          </form>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Слоган
                            </div>
                            <div class="container_film_about_item_value">
                              {{ movie.tagline }}
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Страна
                            </div>
                            <div class="container_film_about_item_value">
                              {{ movie.country }}
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Режиссер
                            </div>
                            <div class="container_film_about_item_value">
                              {% for director in movie.directors.all %}
                                <a href="{{ director.get_absolute_url }}">
                                    {{ director.name }}
                                </a>
                              {% endfor %}
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Актеры
                            </div>
                            <div class="container_film_about_item_value">
                              {% for actor in movie.actors.all %}
                                 <a href="{{ actor.get_absolute_url }}">
                                    {{ actor.name }}
                                </a>
                              {% endfor %}
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Жанр
                            </div>
                            <div class="container_film_about_item_value">
                              {% for genre in movie.genres.all %}
                                {{ genre.name }}
                              {% endfor %}
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Премьера в мире
                            </div>
                            <div class="container_film_about_item_value">
                              {{ movie.world_premiere }}
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Бюджет
                            </div>
                            <div class="container_film_about_item_value">
                              {{ movie.budget }}
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Сборы в США
                            </div>
                            <div class="container_film_about_item_value">
                              {{ movie.fees_in_usa }}
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Сборы в мире
                            </div>
                            <div class="container_film_about_item_value">
                              {{ movie.fees_in_world }}
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Продолжительность
                            </div>
                            <div class="container_film_about_item_value">
                              {{ movie.runtime }} мин.
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Год производства
                            </div>
                            <div class="container_film_about_item_value">
                              {{ movie.year }}
                            </div>
                            <hr />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container_film_description">
                  <div class="container_film_description_text">
                    {{ movie.description|safe}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <section class="video">
            <h3>Трейлер</h3>
            <iframe src="{{ movie.trailer_url }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </section>
          <section class="review">
            <h3>Оставить отзыв</h3>
            <form class="form_content" action="{% url 'add_review' movie.id %}" method="POST" id="formReview">
              {% csrf_token %}
              <!-- Передаем id пользователя, на отзыв которого нужно ответить (родитель) -->
              <input type="hidden" name="parent" id="contactparent" value="">
              <div class="user_info rev_item">
<!--                <input type="text" placeholder="Ваше имя" class="username" name="name"-->
<!--                id="contact_username" required="">-->
<!--                <input type="text" placeholder="Email" class="useremail" name="email"-->
<!--                id="contact_email" required="">-->
              
                  {{ form.name }}
                
                
                  {{ form.email }}
                
                {{ form.captcha }}
              </div>
              <div class="comment rev_item">
<!--                <textarea name="text" id="contactcomment">-->
<!--                </textarea>-->
                {{ form.text }}
              </div>
              <div class="button_send rev_item">
                <button type="submit">
                  Отправить
                </button>
              </div>
            </form>

          </section>
          <section class="reviews_container">
            {% for review  in movie.get_review %}
            <div class="review_item">
              <div class="review_item_inner">
                <img src="{% static 'Images/avatar1.png' %}"/>
                <div class="review_content">
                  <h3>
                    {{ review.name }}
                  </h3>
                  <p>
                    {{ review.text }}
                  </p>
                  <a href="#formReview" onclick="addReview('{{ review.name }}', {{ review.id }})">Ответить</a>
                </div>
              </div>
              {% for rev in review.reviews_set.all %}
              <div class="review_item_inner review_reply">
                <img src="{% static 'Images/avatar1.png' %}"/>
                <div class="review_content">
                  <h3>
                    {{ rev.name }}
                  </h3>
                  <p>
                    {{ rev.text }}
                  </p>
                </div>
              </div>
              {% endfor %}
            </div>
            {% endfor %}
          </section>
{% endblock movie %}
