{% extends 'movies/base_without_sidebar.html' %}
{% block title %} Кадры из фильма {{ movie.title }} {% endblock title %}
  {% block movie %}
  <!-- The Modal -->
  <div id="modalPic" class="modal">
    <div class="modal_content_pic">
        <button class="btn_close" type="button">
        </button>
        <!-- <span class="btn_close">&times;</span> -->
        <img class="modal_pic" src="" alt=""/>
    </div>
  </div>

  <div class="container_film_header">
    <div class="container_film_header_text">Кадры из фильма "{{movie.title}}"</div>
  </div>
  <div class="container_films">
    <div class="container_film_item">
      <div class="container_film_item_inner">
          <a class="back_to back_to_detail" href="{{ movie.get_absolute_url }}">Назад</a>
          <div class="film_gallery">
              {% for image in movie.movieshots_set.all %}
                <img id="clickPic" class="film_pic" src="{{ image.image.url }}" alt="{{ image.description }}"/>
              {% endfor %}
          </div>
      </div>
    </div>
  </div>
  {% endblock movie %}


  