{% extends 'movies/base.html' %}
{% block title %} Список фильмов {% endblock title %}
 {% block movie %}
      <!-- Content -->
          <div class="container_film_header">
            <div class="container_film_header_text">Список фильмов</div>
          </div>
          <div class="search">
              {% include 'include/search.html' %}
          </div>
          <section class="movie_list">
              {% if not movie_list %}
                    <div class="not_found_movies">
                        <h2>Ничего не найдено</h2>
                    </div>
              {% endif %}
            {% for movie in movie_list %}
           <div class="movie_item">
             <div class="poster">
               <img src="{{ movie.poster.url }}">
             </div>
             <div class="info">
               <div class="title">
                 <h2>
                   <a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a>
                 </h2>
                </div>
               <div class="detail_info">
                 <ul class="info_list">
                    {% for genre in movie.genres.all %}
                   <li>Жанр: {{ genre.name }}</li>
                    {% endfor %}
                   <li>Продолжительность: {{ movie.runtime }} мин.</li>
                   <li>Год: {{ movie.year }}</li>
                 </ul>
                 <div class="rating">Средняя Оценка {{ movie.get_average_rating }}/10</div>
               </div>
             </div>
             <div class="buttons"><button class="add-to-list">Добавить в список</button></div>
           </div>
            {% endfor %}
          </section>
          <div class="pagination">
              {% include 'include/pagination.html' %}
          </div>
{% endblock movie %}