{% extends 'movies/base_without_sidebar.html' %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div>
    <section class="modal_login">
        <button class="modal-close" type="button"></button>
        <h1>РЕГИСТРАЦИЯ</h1>
        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button type="submit">{% trans "Sign Up" %} &raquo;</button>
        </form>
    </section>
</div>

{% endblock %}


<!--<div id="modalLogin" class="modal">-->
<!--    <section class="modal_login">-->
<!--        <button class="modal-close" type="button"></button>-->
<!--        <h1>ВХОД</h1>-->
<!--        <form class="form-login" method="post" action="">-->
<!--            {% csrf_token %}-->
<!--            <input placeholder="Логин" class="input_user_info" id="user_login" type="text" required>-->
<!--            <input placeholder="Пароль" class="input_user_info" id="user_password" type="password" required>-->
<!--            <div class="login-check">-->
<!--                <div class="login-help">-->
<!--                    <a class="" href="#">Регистрация</a>-->
<!--                    <a class="restore" href="#">Забыли пароль?</a>-->
<!--                </div>-->
<!--                <button class="login-button" type="submit">Войти</button>-->
<!--            </div>-->
<!--            <h4>Войти с помощью</h4>-->
<!--            <div class="login_buttons">-->
<!--                <a>Google</a>-->
<!--                <a>Vk</a>-->
<!--            </div>-->
<!--        </form>-->
<!--    </section>-->
<!--</div>-->

