{% load static %}
<section class="last_reviews">
    <div class="last_reviews_header last_rev">
        <h3>Последние отзывы</h3>
    </div>
    <div class="last_reviews_content last_rev">
        {% for review in last_reviews %}
        <div class="review_item">
            <div class="item_header">
                <img src="{% static 'Images/avatar1.png' %}">
                <div class="item_info">
                    <h5>{{ review.name }}</h5>
                    <h5><a href="{{ review.movie.get_absolute_url }}">{{ review.movie }}</a></h5>
                </div>
            </div>
            <div class="item_content">
                {{ review.text | truncatewords:20 }}
            </div>
        </div>
        {% endfor %}
    </div>
</section>