{% load contact_tags %}
{% load static %}
<!-- Footer -->
  <footer class="footer">
    <div class="container_footer">
      <div class="footer_inner">
        <div class="footer_block">
          <address class="footer_text_links">
            <h4>Контакты</h4>
            <ul class="contacts_list">
              <li>Почта: ksewnv@gmail.com</li>
              <li>Телефон: +7936541208</li>
            </ul>
          </address>
        </div>
        <div class="footer_block">
          <div class="social_footer">
            <h4>Ссылки</h4>
            <div class="social_links">
              <a href="#" class="social_item">
                <img class="social_item_first"

                  src="{% static 'Images/vk-social-network-logo.svg' %}"
                  alt=""
                  height="24"
                />
              </a>
              <a href="#" class="social_item">
                <img class="social_item_second"
                src="{% static 'Images/facebook-f-brands.svg' %}" alt="" height="24"
              /></a>

              <a href="#" class="social_item">
                <img class="social_item_third"
                  src="{% static 'Images/gitlab_icon_132352.svg' %}"  alt="" height="24"
                  alt=""
                  height="24"

                />
              </a>
            </div>
          </div>
        </div>
        <div class="footer_block">
<!--          <div class="footer_copyright">-->
<!--            <div class="footer_copyright_text">-->
<!--              <p>Copyright © 2020 <span>Tteam</span> All Rights Reserved</p>-->
<!--              <p>Made with VS Code by <span> Timur Iskhakov </span></p>-->
<!--            </div>-->
<!--          </div>-->
          {% contact_form %}
        </div>
      </div>
    </div>

</footer>