<!-- Header -->
{% load movie_tag %}
<div class="navigation">
        <div class="navigation__inner">
          <!-- Лого -->
          <div class="logo-block">
            <!-- <div class="logo"> -->
            <a href="#" class="logo"></a>
            <!-- </div>  -->
          </div>
          <!-- Меню -->
          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#" class="menu__link">Литература</a>
                <ul class="sub__menu__list">
                  <li><a href="#" class="sub__menu__link">Английский</a></li>
                  <li>
                    <a href="#" class="sub__menu__link">Программирование</a>
                  </li>
                  <li>
                    <a href="#" class="sub__menu__link"
                      >Архитектура компьютера</a
                    >
                  </li>
                  <li>
                    <a href="#" class="sub__menu__link">Компьютерные сети</a>
                  </li>
                  <li>
                    <a href="#" class="sub__menu__link">Операционные системы</a>
                  </li>
                </ul>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link">Списки</a>
                <ul class="sub__menu__list">
                  {% get_categories as categories %}
                  {% for category in categories %}
                  <li><a href="{% url 'list_movie' %}" class="sub__menu__link">{{ category.name }}</a></li>
                  {% endfor %}
                </ul>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link">Форум</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link">Правила</a>
            </li>
            </ul>
          </nav>
          <!-- Вход и регистрация -->

          {% if user.is_authenticated %}
          <div class="input">
            <ul class="input__menu">
              <li class="input__item">
                <span>{{ user.username }}  </span>
                        <a href="{% url 'account_logout' %}"
                           style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                            Выход
                        </a>
              </li>
            </ul>
          </div>
          {% else %}
          <div class="input">
            <ul class="input__menu">
              <li class="input__item">
                <a href="{% url 'account_login' %}" class="input__link">Войти</a>
              </li>
              <li class="input__item">
                <a href="{% url 'account_signup' %}" class="input__link">Регистрация</a>
              </li>
            </ul>
          </div>
          {% endif %}

          <!-- burger-menu -->
          <button class="burger" type="button" id="navToggle">
            <span class="burger__item">Menu</span>
          </button>
        </div>
      </div>