{% load static %}
    <form action="{% url 'search' %}" method="GET" >
      <input class="search_field" name="q" placeholder="Найти" type="search">
      <button class="search_button" type="submit"><h3>Поиск</h3></button>
    </form>
