{% load movie_tag %}
<div class="filter_block">
    <div class="filter_block_inner">
        <div class="filter_block_item countries">
            <div class="filter_countries_title">
                <div class="filterHeaderText">Страны</div>
            </div>
            <div class="filter_block_item">
                <div class="dropdown">
                    <button class="dropdown_button">Все Страны</button>
                    <!--                        <ul class="dropdown_list">-->
                    <!--                            <li class="dropdown_list_item" data-value="Russia">-->
                    <!--                                Россия-->
                    <!--                            </li>-->
                    <!--                            <li class="dropdown_list_item" data-value="USSR">СССР</li>-->
                    <!--                            <li class="dropdown_list_item" data-value="USA">США</li>-->
                    <!--                            <li class="dropdown_list_item" data-value="GreatBritain">-->
                    <!--                                Великобритания-->
                    <!--                            </li>-->
                    <!--                            <li class="dropdown_list_item" data-value="France">-->
                    <!--                                Франция-->
                    <!--                            </li>-->
                    <!--                        </ul>-->
                </div>
            </div>
        </div>

        <!-- <div class="filter_countries_title">
            <div class="filterHeaderText">Жанры</div>
        </div>
        <div class="filter_block_item">
            <div class="dropdown">
                <button class="dropdown_button">Все Жанры</button>
                <ul class="dropdown_list">
                    <li class="dropdown_list_item" data-value="arthaus">
                        Артхаус
                    </li>
                    <li class="dropdown_list_item" data-value="BlockBuster">Боевик</li>
                    <li class="dropdown_list_item" data-value="Comedy">Комедия</li>
                    <li class="dropdown_list_item" data-value="Thriller">
                        Триллер
                    </li>
                    <li class="dropdown_list_item" data-value="Horrors">
                        Ужасы
                    </li>
                </ul>
            </div>
        </div> -->


        <!-- <div class="filter_countries_title">
            <div class="filterHeaderText">Годы</div>
        </div>
        <div class="filter_block_item">
            <div class="dropdown">
                <button class="dropdown_button">Все годы</button>
                <ul class="dropdown_list">
                    <li class="dropdown_list_item" data-value="Russia">
                        2020
                    </li>
                    <li class="dropdown_list_item" data-value="USSR">2019</li>
                    <li class="dropdown_list_item" data-value="USA">2018</li>
                    <li class="dropdown_list_item" data-value="GreatBritain">
                        2017
                    </li>
                    <li class="dropdown_list_item" data-value="France">
                        2016
                    </li>
                </ul>
            </div>
        </div> -->

        <form class="list" action="{% url 'filter' %}" method="GET" name="filter">
            <div class="filter_block_item sort">
                    <h4>Фильтр по жанрам</h4>
                    {% for genre in view.get_genres %}
                    <label>
                        <input type="checkbox" name="genre" value="{{genre.id}}"/>
                        <span class="control_text">{{ genre.name }}</span>
                    </label>
                    {% endfor %}
            </div>
            <div class="filter_block_item my_list">
                <div class="my_list_title"></div>
                    <h4>Фильтр по годам</h4>
                    {% for movie in view.get_years %}
                    <label>
                        <input type="checkbox" name="year" value="{{ movie.year }}"/>
                        <span class="control_text">{{ movie.year }}</span>
                    </label>
                    {% endfor %}
            </div>
            <div class="filter_block_item buttons_block">
                <div class="buttons_block_inner">
                    <div class="filter_buttons">
                        <button class="button_" type="submit">Применить</button>
                    </div>
                </div>
            </div>
        </form>

        

        <!--            <div class="filter_block_item buttons_block">-->
        <!--                <div class="buttons_block_inner">-->
        <!--                    <div class="reset button_">-->
        <!--                        <div class="reset_text">Сбросить</div>-->
        <!--                    </div>-->
        <!--                    <div class="apply button_">-->
        <!--                        <div class="apply_text">Применить</div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
    </div>
</div>
{% get_last_reviews count=2 %}

