<!--{% load i18n %}-->
<!--{% load account%}-->

<!--<div id="modalLogin" class="modal">-->
<!--    <section class="modal_login">-->
<!--        <button class="modal-close" type="button"></button>-->
<!--        <h1>ВХОД</h1>-->
<!--        <form class="form-login" method="post" action="{% url 'account_login' %}">-->
<!--            {% csrf_token %}-->
<!--            {{ form.as_p }}-->
<!--            {% if redirect_field_value %}-->
<!--                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />-->
<!--            {% endif %}-->
<!--            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>-->
<!--            <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>-->
<!--            <input placeholder="Логин" class="input_user_info" id="user_login" type="text" required>-->
<!--            <input placeholder="Пароль" class="input_user_info" id="user_password" type="password" required>-->
<!--            <div class="login-check">-->
<!--                <div class="login-help">-->
<!--                    <a class="" href="#">Регистрация</a>-->
<!--                    <a class="restore" href="#">Забыли пароль?</a>-->
<!--                </div>-->
<!--                <button class="login-button" type="submit">Войти</button>-->
<!--            </div>-->
<!--            <h4>Войти с помощью</h4>-->
<!--            <div class="login_buttons">-->
<!--                <a>Google</a>-->
<!--                <a>Vk</a>-->
<!--            </div>-->
<!--        </form>-->
<!--    </section>-->
<!--</div>-->



<!--{% block content %}-->


<!--{% if socialaccount_providers %}-->
<!--<p>{% blocktrans with site.name as site_name %}Please sign in with one-->
<!--of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>-->
<!--for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>-->



<!--<div class="socialaccount_ballot">-->

<!--  <ul class="socialaccount_providers">-->
<!--    {% include "socialaccount/snippets/provider_list.html" with process="login" %}-->
<!--  </ul>-->

<!--  <div class="login-or">{% trans 'or' %}</div>-->

<!--</div>-->

<!--{% include "socialaccount/snippets/login_extra.html" %}-->

<!--{% else %}-->
<!--<p>{% blocktrans %}If you have not created an account yet, then please-->
<!--<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>-->
<!--{% endif %}-->



<!--{% endblock %}-->


