<!DOCTYPE html>
{% load static recaptcha3 %}
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Для фиксированной вёрстки -->
    <!-- <meta name="viewport" content="width=1200" /> -->
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="{% static 'CSS/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'CSS/list.css' %}"/>
    <link rel="stylesheet" href="{% static 'CSS/detail.css' %}" />
    <link rel="stylesheet" href="{% static 'CSS/sign-up_login.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
    href="C:\Users\Admin\Desktop\Education\Программирование\LessonHTML\fontawesome-free-5.14.0-web\fontawesome-free-5.14.0-web\css\all.css
  "
    rel="stylesheet"
  />
    <title>{% block title %}{% endblock title %}</title>

    {% recaptcha_init %}
    {% recaptcha_ready action_name='homepage' %}
  </head>
<body>
  <div class="page">
    {% include 'include/header.html' %}
    {% include 'include/sign-up_login_window.html' %}
    {% block content %}
    {% endblock content %}

    {% include 'include/footer.html' %}
  </div>
  <script src="{% static 'JS/main.js' %}"></script>
  <script src="{% static 'JS/gallery.js' %}"></script>
  <script src="{% static 'JS/ajax.js' %}"></script>
  <script src="http://twitter.github.com/hogan.js/builds/3.0.1/hogan-3.0.1.js"></script>
</body>
</html>