.filter_block {
  position: fixed;
  /* bottom: 20px; */
  margin-left: -23em;
  z-index: 100;
  height: auto;
  max-width: 300px;

  /* 
    left: 67.5px;
    top: 123px;
    bottom: 14px; */
  background-color: #050f42;
  border-radius: 10px;
  padding: 10px 15px;
}

.filter_block_inner {
  color: #fff;
  font-size: 22px;
}

.filter_block_item {
  z-index: 80;
  margin-top: 20px;
}
/* */

.filterHeaderText {
}

.filterList {
}

.select-filter {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  color: black;
  padding: 8px 15px;
  border: gold 1px solid;
  border-radius: 3px;
  font-size: 16px;
  margin-right: 5px;
  margin-top: 5px;
  width: 100%;

  outline: none;

  cursor: pointer;
}

.select:::-ms-expand {
  display: none;
}

.filterListWrapper {
  position: relative;
}

.filterListWrapper::before {
  content: "";

  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);

  display: block;
  width: 10px;
  height: 10px;

  pointer-events: none;

  /* Треугольник */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 6px 0 6px;
  border-color: #000000 transparent transparent transparent;
}

.dropdown_button {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  background-color: #fff;
  border: 1px solid #7e9bbd;
  border-radius: 3px;
  max-height: 40px;

  padding: 8px 15px;

  font-size: 16px;
  cursor: pointer;
}

.dropdown_button:focus {
  outline: none;
  box-shadow: 0px 0px 0px 4px rgba(176, 198, 225, 0.6);
}

.dropdown_button::after {
  content: "";

  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);

  display: block;
  width: 10px;
  height: 10px;

  pointer-events: none;

  /* Треугольник */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 6px 0 6px;
  border-color: #000000 transparent transparent transparent;
}

.drop-down-input-hidden {
  /* display: none; */
}

.dropdown {
  position: relative;
}

.dropdown_list {
  display: none;
  overflow: hidden;
  border-radius: 3px;
  width: 100%;
  color: #000000;
  z-index: 1000;
}

.dropdown_list--visible {
  display: block;
}

.dropdown_list_item {
  background-color: #fff;
  border: 1px solid #7e9bbd;
  padding: 8px 15px;
  border-bottom: 0px;
  cursor: pointer;
  border-radius: 3px;
}
.dropdown_list_item:first-child {
  margin-top: 1px;
}

.dropdown_list_item:last-child {
  border-bottom: 1px solid #7e9bbd;
}

.dropdown_list_item:hover {
  background-color: rgb(187, 212, 240);
}

.list {
  display: block;
  margin-top: 10px;
}

.control_text {
  margin-left: 10px;
}

.list label {
  display: block;
  margin-top: 3px;
}

.buttons_block {
  display: flex;
  width: 100%;
}

.buttons_block_inner {
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.button_ {
  border: 1px solid #fff;
  border-radius: 4px;
  margin-right: 30px;
  padding: 8px 20px;
  font-size: large;
}

.button_:last-child {
  margin-right: 0;
}

.search {
  width: 100%;
  margin-top: 20px;
  font-size: 18px;
}

form {
  display: flex;
  justify-content: space-between;
}

.search_field {
  width: 83%;
  font-size: 18px;
  color: #000000;
  border: blueviolet 2px solid;
  border-radius: 5px;
  padding: 10px 8px;
}

.search_button {
  width: 15%;
  font-size: 16px;
  border-radius: 5px;
  background-color: darkblue;
  color: #fff;
}

.search_button:hover {
  cursor: pointer;
  background: #7e9bbd;
  transition: 0.2s linear;
}
