* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  list-style: none;
  text-decoration:none;
}

body {
  background-color: #f5f5f5;
  height: 100%;
  /* Для фиксированной вёрстки */
  /* min-width: 1200px; */
}

.page {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Занимает весь экран */
}

@media (max-width: 1200px) {
  .page {
    min-width: 970px;
  }
}

@media (max-width: 992px) {
  .page {
    min-width: 750px;
  }
}

@media (max-width: 767px) {
  .page {
    min-width: none;
  }
}

/*_____________Фон______________  */

.background-image {
  /* background: url("../Images/Pattern-Cover-1600x1200.png") center; */
  background: url("../Images/background_image_2.jpg") center;
  /* background-size: 800px 600px; */
  background-size: cover;

  max-height: 150px;
}

/*______________Навигация_______________  */

.navigation {
  width: 100%;
  height: 56px;
  background-color: #191f42;
  /* position: fixed; */
  position: sticky;
  top: 0px;
  z-index: 3;
}

.navigation__inner {
  min-width: 700px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 6px 10px;
  margin: 0 auto;
}

/*___________________Лого________________  */

.logo-block {
  margin-right: auto;
}

.logo {
  display: block;
  /* margin-right: auto; */
  /* margin-left: auto ; */
  padding: 1px 1px;
  min-height: 60px;
  min-width: 60px;
  background: url("../Images/yellow_light.png") no-repeat;
  position: absolute;
  /* Исправить */
  background-size: 54px 54px;
  top: 4px;

  /*
  display: block;  
  height: 80px; 
  width: 80px; 
  position: absolute; 
  background-size: 54px 54px; 
  top: 4px; 

  padding-left: 200px; 
  */
}

/* ________________Меню__________________ */

.menu {
  display: block;
  margin-left: auto;
  margin-left: auto;
}

/* Убираем подчеркивание для всех ссылок */

.menu a {
  text-decoration: none;
}

/* Убираем  стандартную стилизацию у списков*/
.menu li {
  position: relative;
  list-style: none;
  /* z-index: 1; */
}

.menu__list {
  display: flex;
}

/* Свойства дествуют только на первый элемент в списке */
.menu__list > li:hover .sub__menu__list {
  display: block;
}

/* Сохранение цвета первого элемента меню при наведении и последующем перемещением
в подменю */
.menu ul li:hover {
  /* background-color: #00085C; */
  background-color: #7e9bbd;
}

.menu__link {
  /* Делает элемент блочным */
  display: block;
  padding: 15px 32px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s linear;
  color:#fff;
}

.menu__link:hover {
  /* background-color: #00085C; */
  background-color: #7e9bbd;

  color: white;
}

/* __________Подменю_____________ */

.sub__menu__list {
  display: none;
  position: absolute;
  left: 0;
  top: 38px;
  padding: 10px 0 0 0;
  min-width: 180px;
}

.sub__menu__list li {
  border-bottom: 1px solid white;
}

.sub__menu__list li:last-child {
  border-bottom: none;
}

.sub__menu__link {
  text-align: center;
  /* Превращаем в блочный элемент */
  display: block;
  padding: 10px;
  background-color: #191f42;
  color: #fff;
  transition: 0.3s linear;
  min-width: 190px;
}

.sub__menu__link:last-child {
  /* border-bottom: 1px solid red;  */
}

.sub__menu__list a:hover {
  background-color: #7e9bbd;
}

/*______________Регистрация вход_______________  */

.input {
  margin-left: auto;

  color: white;
  font-weight: 600;
}

.input__menu {
  display: flex;
  list-style: none;
}

.input__item {
  margin-right: 20px;
}

.input__item:last-child {
  margin-right: 0;
}

.input__link {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  padding: 5px 4px;
  transition: 0.3s linear;
}

.input__link:hover {
  /* background-color: #00085C; */
  background-color: #7e9bbd;
}

/* Подумать над цветами */

/*_____________Content_____________ */

.Content {
  /* Отступы при уменьшении экрана*/
  padding: 0 15px;
  margin: 40px 0;
  min-height: calc(100vh - 195px);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 100%;
  background-color: #050f42;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);

  max-width: 1200px;

  margin: 0 auto;
  border-radius: 10px; /* закругление углов для всех, кто понимает */
}

.container_header {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  width: 95%;
}

.container_header_text {
  max-width: 100%;
  /* flex: 0 0 1200px; */
  /* min-width: 900px; */

  font-size: 36px;
  font-weight: 600;
  padding-left: 198px;
  color: #fff;
  /* position: relative;  */
}

.container_header_line {
  margin-top: -8px;
  /* position: absolute; */
  /* top: 30px; */
}

hr {
  border: none; /* Убираем границу для браузера Firefox */
  color: white; /* Цвет линии для остальных браузеров */
  background-color: white; /* Цвет линии для браузера Firefox и Opera */
  min-height: 2px;
}

.container_item {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;

  /* margin: 0 10px; */
}

.container_pictures {
  width: 50%;
  min-height: 450px;
  position: relative;
}

.container_img {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);
  z-index: 1;
}

.container_box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 30px;
}

.container_text {
  font-size: 20px;
  color: #fff;
  line-height: 1.5;
}

/* __________Footer__________ */

.footer {
  background-color: #191f42;
  color: #fff;
  margin-top: auto;
}

.container_footer {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.footer_inner {
  padding: 40px 0;
  display: flex;
}

.footer_block {
  width: 33.3333%;
  text-align: center;
}

.footer_block h4 {
  text-transform: uppercase;
  font-size: 16px;
  /* border-bottom: 1px solid #fff;  */
  /* padding-bottom: 5px */
}

/* _______Блок_контактов________ */
.footer_text_links {
  font-style: normal;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts_list {
  text-align: left;
  list-style: none;
  padding: 10px 0;
}

.contacts_list li {
  line-height: 2;
}

/* ________Ссылки_________ */
.social_footer h4 {
  margin-bottom: 15px;
}

.social_links {
  display: flex;
  justify-content: center;
}

.social_item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  background-color: #fff;
  border: 1px solid #91a8b4;
  transition: background 0.1s linear;
  margin: 0 10px;
}

.social_item:hover {
  background-color: #91a8b4;
}

/*__________Copyright____________*/
.footer_copyright {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_copyright_text {
  max-height: 50px;
  line-height: 1.5;
}

.footer_copyright_text span {
  color: gold;
}

/* --------Part for list_films------- */
/*
.content_films
{
  margin: 110px 0;
}


.container_films_inner
{
  width: 100%; 
  max-width: 1200px;
  margin: 0 auto;

  border: black 4px solid;
  height: 500px;
  
}
*/
.Content {
}

.Content_inner {
  width: 100%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.container_films {
  width: 100%;
  margin: 0 auto;
}

.container_film_header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #050f42;
  border-radius: 10px; /* закругление углов для всех, кто понимает */
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}

.container_film_header_text {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.container_film_item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  width: 100%;
  max-width: 1000px;
  margin-top: 20px;
  border-radius: 10px; /* закругление углов для всех, кто понимает */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);

  background-color: #050f42;
}

.container_film_item_inner {
  padding: 10px;
  padding-top: 20px;
}

.container_film_img_and_info {
  display: flex;
  justify-content: space-between;
  height: auto;
  position: relative;


}

.container_film_img {
  flex: 0 0 300px;
  margin-left: 20px;
  margin-top: 30px;
  /* height: 300px; */
  /* width: 220px; */
  /* background-color: green; */
}

.container_film_img img {
  max-width: 100%;
  border-radius: 10px;
}

.film_buttons button
{
  background: #050f42;
  color: #fff;
  border: 1px solid white;
  border-radius: 3px;
  padding: 8px 6px;
  transition: 0.2s linear;
  margin-top: 20px;
}

.container_film_info {
  flex: 1 1 auto;
  /* height: 300px; */
  max-width: 690px;
  /* float: right; */
  /* margin-left: 50px; */
}

.container_film_info_inner {
  max-width: 650px;

  /* background-color: #3df; */
}
.container_film_about_name_text {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  padding: 10px 5px;
  color: gold;
}

.container_film_about_name_text a {
{
    color:gold;
}

.container_film_gall_and_discuss {
  margin-top: 55px;
  width: 75%;
  position: absolute;
  right: -130px;
  bottom: 10px;
}

.container_film_gall_and_discuss_inner {
  display: flex;
  position: relative;
  top: 10px;
}

.item {
  background-color: #191f42;
  color: #fff;
  padding: 8px 15px;
  border: #fff 1px solid;
  border-radius: 3px;
  font-size: 16px;
  margin-right: 5px;
}

.add {
  padding-right: 10px;
}

.item i {
  margin-left: 10px;
}

/* .item a {
  color: #fff;
  text-decoration: none;
} */

.item:hover {
  background-color: blueviolet;
  transition: 0.2s linear;
}

/* .discussion {
  padding: 8px 15px;
  border: #fff 1px solid;
  border-radius: 15px;
} */

.container_film_description_text {
  width: 100%;
  font-size: 16px;
  line-height: 1.7;
  padding: 10px 0 15px 0;
}

.container_film_about {
  display: block;
  padding: 8px 10px;
  padding-left: 58px;
}

.container_film_about_item {
  display: flex;
  justify-content: space-between;
  padding: 12px 8px;
  font-size: 14px;
  border-bottom: 1px solid #fff; /* Параметры границы */
}

.container_film_about_item_spec {
  min-width: 180px;
}

.container_film_about_item_value {
  width: 70%;
  text-align: left;
}

.burger {
  background: none;
  border: 0;
  padding: 9px 2px;
  display: none;
  cursor: pointer;
}

.burger__item {
  display: block;
  width: 30px;
  height: 3px;
  font-size: 0;

  background-color: #fff;

  color: transparent;

  position: relative;
}

.burger__item::before,
.burger__item::after {
  content: "";
  width: 100%;
  height: 100%;

  background-color: #fff;

  position: absolute;
  left: 0;
  z-index: 1;
}

.burger__item::before {
  top: -8px;
}

.burger__item::after {
  bottom: -8px;
}

.burger__item.active span {
  transform: scale(0);
}

.burger__item.active:before {
  transform: rotate(45deg);
  top: -9px;
}

.burger__item.active::after {
  transform: rotate(-45deg);
  bottom: 9px;
}

.burger__item.active {
  position: relative;
  top: 10px;
}

.burger__item.active {
  background: rgba(0, 0, 0, 0);
}

/* добавить стили list_films в новый css файл */

@media (max-width: 1650px) {
  .filter_block {
    display: none;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 991px) {
  .menu {
    display: none;
    /* text-align: right; */

    background-color: #31344e;

    top: 100%;
    right: 0;
    position: absolute;
  }

  .menu.show {
    display: flex;
  }

  .menu__list {
    flex-direction: column;
  }

  .sub__menu__list {
    position: absolute;
    top: -8px;
    left: -189px;
  }

  .sub__menu__link {
    background-color: #31344e;
  }

  .burger {
    display: block;
    margin-top: 10px;
  }

  .input {
    display: none;
  }
}
