*{
    box-sizing: border-box;
}

body{
    margin-top: 200px;
    margin-bottom: 200px;
}


.user_profile{
    display: flex;
    flex-wrap:wrap;   
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    min-height: 650px;
    background-color: darkblue;
    color: #fff; 
    border-radius: 10px;
    padding: 10px;
}

.user_img{
    background-color: darkcyan;
    height: 300px;
    width: 200px;
}



.user_info
{
    padding: 20px;
    background-color: navajowhite;
    width: 500px;
    height: 300px;
    margin-left: 50px;
}

/* .user_unnamed_blog{
    background-color: darkcyan;
    width: 80px;
    height: 30px;
}

    .user_post{
        background-color: darkcyan;
    width: 80px;
    height: 30px;

    } */