
/*_____________Content_____________ */

.Content {
  /* Отступы при уменьшении экрана*/
  padding: 0 15px;
  margin: 40px 0;
  min-height: calc(100vh - 195px);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.container_films {
  width: 100%;
  margin: 0 auto;
}

.container_film_header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #050f42;
  border-radius: 10px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}


.filmography_header {
  margin-top: 20px;
  padding-left: 20px;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}


.container_film_header_text {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.container_film_item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  width: 100%;
  max-width: 1000px;
  margin-top: 20px;
  border-radius: 10px; /* закругление углов для всех, кто понимает */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);

  background-color: #050f42;
}

.container_film_item_inner {
  position: relative;
  padding: 10px;
  padding-top: 20px;
}

.container_film_img_and_info {
  display: flex;
  justify-content: space-between;
  height: auto;
  position: relative;
}

.container_film_img {
  flex: 0 0 300px;
  margin-left: 20px;
  margin-top: 30px;
}

.container_film_img img {
  max-width: 100%;
  border-radius: 10px;
}

.actor img {
  max-width: 250px;
  height: auto;
  margin-left: 12%;
}

.container_filmography {
  margin-top: 20px;
}


.filmography_list_inner {
  padding: 30px 40px;
}

.filmography_table {
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 18px;
  border-collapse: collapse;
  width: 100%;
}

.filmography_table th {
  padding: 10px 20px;
  border: 1px solid #fff;
}

.filmography_table td {
  border: 1px solid #fff;
  padding: 10px;
  text-align: center;
}

.filmography_table a:hover {
  color: gold;
}



.first_column {
  padding-left: 1px;
  width: 13%;
  text-align: center;
}

.second_column {
  width: 40%;
}

.average_rating
{
  font-size: 20px;
  margin-top: 20px;
}

.container_film_info {
  flex: 1 1 auto;
  max-width: 690px;
}

.container_film_about_name_text {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  padding: 10px 5px;
  color: gold;
}
.container_film_gall_and_discuss {
  margin-top: 55px;
  width: 75%;
  position: absolute;
  right: -130px;
  bottom: 10px;
}

.container_film_gall_and_discuss_inner {
  display: flex;
  position: relative;
  top: 10px;
}

.item {
  background-color: #191f42;
  color: #fff;
  padding: 8px 15px;
  border: #fff 1px solid;
  border-radius: 3px;
  font-size: 16px;
  margin-right: 5px;
}

.add {
  padding-right: 10px;
}

.item i {
  margin-left: 10px;
}


.item:hover {
  background-color: blueviolet;
  transition: 0.2s linear;
}


.container_film_description_text {
  min-height: 100px;
  width: 100%;
  font-size: 16px;
  line-height: 1.7;
  padding: 10px 0 15px 0;
}

.container_film_about {
  display: block;
  padding: 8px 10px;
  padding-left: 58px;
}

.container_film_about_item {
  display: flex;
  justify-content: space-between;
  padding: 12px 8px;
  font-size: 14px;
  border-bottom: 1px solid #fff; /* Параметры границы */
}

.container_film_about_item_spec {
  min-width: 180px;
}

.container_film_about_item_value {
  width: 70%;
  text-align: left;
}

.container_film_about_item_value > a:hover {
  color: gold;
}

.burger {
  background: none;
  border: 0;
  padding: 9px 2px;
  display: none;
  cursor: pointer;
}

.burger__item {
  display: block;
  width: 30px;
  height: 3px;
  font-size: 0;

  background-color: #fff;

  color: transparent;

  position: relative;
}

.burger__item::before,
.burger__item::after {
  content: "";
  width: 100%;
  height: 100%;

  background-color: #fff;

  position: absolute;
  left: 0;
  z-index: 1;
}

.burger__item::before {
  top: -8px;
}

.burger__item::after {
  bottom: -8px;
}

.burger__item.active span {
  transform: scale(0);
}

.burger__item.active:before {
  transform: rotate(45deg);
  top: -9px;
}

.burger__item.active::after {
  transform: rotate(-45deg);
  bottom: 9px;
}

.burger__item.active {
  position: relative;
  top: 10px;
}

.burger__item.active {
  background: rgba(0, 0, 0, 0);
}

.video {
  width: 100%;
  height: auto;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
  background-color: #050f42;
  color: #fff;
}

.video iframe {
  width: 854px;
  height: 480px;
  display: block;
  margin: 0 auto;
}

.video > h3 {
  font-size: 24px;
  margin-bottom: 20px;
} 

.review {
  font-size: 20px;
  color: #fff;
  width: 100%;
  min-height: 350px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
  background-color: #050f42;
  padding: 20px 20px;
}

.form_content {
  display: flex;
  flex-direction: column;
}

.rev_item {
  margin-top: 20px;
}

.user_info {
  display: flex;
  justify-content: space-between;
}

.user_info input{
  width: 49%;
  font-size: 20px;
  padding: 5px;
}


.comment textarea {
  width: 100%;
  min-height: 100px;
  font-size: 18px;
  padding: 5px;
}

.button_send {
  display: flex;
  justify-content: flex-end;
}

.button_send button{
  font-size: 16px;
  background: transparent;
  color: #fff;
  border: 1px solid white;
  border-radius: 10px;
  padding: 8px 20px;
  cursor: pointer;
}

.button_send button:hover {
  background-color: blueviolet;
  transition: 0.2s linear;
}

.film_gallery {
  padding: 20px;
}



.back_to {
  display: block;
  background: #050f42;
  font-size: 22px;
  color: #fff;
  border-radius: 10px;
  padding: 10px 25px;
  transition: 0.2s linear;
  margin-top: 20px;
  margin-left: 10px;
  cursor:pointer;
}

.back_to_list {
  position: absolute;
  top: -20px;
  left: -150px;
}

.back_to_detail {
  position: absolute;
  top: -20px;
  left: -150px;
}

.back_to:hover {
  background-color: blueviolet;
}

.film_gallery {
  display: flex;
  flex-wrap: wrap;
}

.film_pic {
  border-radius: 10px;
  border: 3px solid #fff;
  height: 250px;
  width: auto;
  cursor:pointer;
  margin-left: 30px;
  margin-top: 30px;
}

.film_pic:hover {
  background-color: darkgoldenrod;
}


.reviews_container {
  color: #fff;
  width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
  background-color: #050f42;
}

.reviews_container  h3 {
    color: gold;
}

.reviews_container > .review_item {
  padding: 30px;
  border-bottom: 1px solid #fff;
}

.review_item a {
  text-align: left;
}

.review_item_inner {
  display: flex;
  border-radius: 10px;
  background-color: #191f42;
  padding: 10px;
}


.review_item img {
  height: 50px;
}

.review_content {
  margin-left: 20px;
  width: 100%;
}

.review_content > a:hover {
  color: gold;
}

.review_content a{
  float: right;
  font-size: 18px;
}


.review_item_inner p{
  margin-top: 10px;
  line-height: 1.5;
}

.review_reply {
  margin-top: 20px;
  margin-left: 50px;
}


@media (max-width: 1650px) {
  .filter_block {
    display: none;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 991px) {
  .menu {
    display: none;
    /* text-align: right; */

    background-color: #31344e;

    top: 100%;
    right: 0;
    position: absolute;
  }

  .menu.show {
    display: flex;
  }

  .menu__list {
    flex-direction: column;
  }

  .sub__menu__list {
    position: absolute;
    top: -8px;
    left: -189px;
  }

  .sub__menu__link {
    background-color: #31344e;
  }

  .burger {
    display: block;
    margin-top: 10px;
  }

  .input {
    display: none;
  }
}


/* ________________Поиск_______________*/

.search {
  width: 100%;
  margin-top: 20px;
  font-size: 18px;
  position: relative;
}

.search > form {
  display: flex;
  justify-content: space-between;
}

.search_field {
  font-size: 18px;
  color: #000000;
  border: blueviolet 2px solid;
  width: 83%;
  border-radius: 5px;
  padding: 10px 8px;
}

.search_button {
  font-size: 16px;
  border-radius: 5px;
  background-color: darkblue;
  color: #fff;
  width: 15%;
}

.film_buttons{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.film_buttons a {
  display: block;
  font-size: 16px;
  background: #050f42;
  color: #fff;
  border: 1px solid white;
  border-radius: 10px;
  padding: 8px 6px;
  transition: 0.2s linear;
  margin-top: 20px;
  margin-left: 10px;
  cursor:pointer;
}

.film_buttons a:first-child{
    margin-left: 0px;
}

.film_buttons a:hover{
    background-color:blueviolet;
}

.film_rating {
	overflow: hidden;
	margin: 0 auto;
}
.film_rating:not(:checked) > input {
	display: none;
}
.film_rating:not(:checked) > label {
	float: right;
	width: 32px;
	padding: 0;
	cursor: pointer;
	font-size: 24px;
	line-height: 32px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.film_rating:not(:checked) > label:before {
	content: '★';
}
.film_rating > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.film_rating:not(:checked) > label:hover,
.film_rating:not(:checked) > label:hover ~ label {
	color: gold;
}
.film_rating > input:checked + label:hover,
.film_rating > input:checked + label:hover ~ label,
.film_rating > input:checked ~ label:hover,
.film_rating > input:checked ~ label:hover ~ label,
.film_rating > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.film_rating > label:active {
	position: relative;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal_content_pic {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  /* width: 80%; Could be more or less, depending on screen size */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal_pic {
  height: 700px;
  width: auto;
}


.btn_close {
  position: absolute;
  top: 5px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.btn_close:hover,
.btn_close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btn_close::before,
.btn_close::after{
  content: "";
  position: absolute;
  left: 0;
  width: 35px;
  height: 5px;
  background-color: #fff;
}

.btn_close::after{
  transform: rotate(45deg);
}

.btn_close::before{
  transform: rotate(-45deg);
}

/* Add Animation */
@keyframes animatetop {
  /* from {
    top: 50%; 
    opacity: 0
  }
  to {
    top: 0; 
    opacity: 1
  } */
}
