/*_____________Content_____________ */

.Content {
    /* Отступы при уменьшении экрана*/
    padding: 0 15px;
    margin: 40px 0;
    /* min-height: calc(100vh - 195px); */
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .container_film_header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #050f42;
    border-radius: 10px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
  }
  
  .container_film_header_text {
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
  }
  

  
  .burger {
    background: none;
    border: 0;
    padding: 9px 2px;
    display: none;
    cursor: pointer;
  }
  
  .burger__item {
    display: block;
    width: 30px;
    height: 3px;
    font-size: 0;
  
    background-color: #fff;
  
    color: transparent;
  
    position: relative;
  }
  
  .burger__item::before,
  .burger__item::after {
    content: "";
    width: 100%;
    height: 100%;
  
    background-color: #fff;
  
    position: absolute;
    left: 0;
    z-index: 1;
  }
  
  .burger__item::before {
    top: -8px;
  }
  
  .burger__item::after {
    bottom: -8px;
  }
  
  .burger__item.active span {
    transform: scale(0);
  }
  
  .burger__item.active:before {
    transform: rotate(45deg);
    top: -9px;
  }
  
  .burger__item.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  
  .burger__item.active {
    position: relative;
    top: 10px;
  }
  
  .burger__item.active {
    background: rgba(0, 0, 0, 0);
  }
  

  .movie_list{
    font-size: 16px;
    background-color: #050f42;
    border-radius: 10px;
    color: #fff;
    margin-top: 20px;
  }
  
  .movie_item{
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #fff
  }

  .info {
    margin-left: 50px;
    margin-top: 10px;
    align-self: center;
  }

  .poster img{
    width: 135px;
    height: auto;
    border-radius: 10px;
  }

  .title{
    font-size: 12px;
    margin-bottom: 80px;
  }

  .title a:hover {
  color:gold;
  }
  .detail_info{
    display: flex;
    align-items: flex-end;
    
  }

  .detail_info ul li {
    margin-top: 10px;
  }
  .detail_info ul li:first-child {
    margin-top: 0;
}
    
    .info_list{
        min-width: 250px;
    }

   .rating {
    margin-left: 70px;
    font-size: 18px;
    color: gold;
} 

    .buttons{
    margin-left: 70px;
    align-self: center;
}

    .buttons button {
    background-color: transparent;
    font-size: 15px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 8px;
    transition: 0.3s linear;
    cursor:pointer;

}


  .buttons button:hover{
  background-color:  blueviolet;
  }

  @media (max-width: 1650px) {
    .filter_block {
      display: none;
    }
  }
  
  @media (max-width: 1200px) {
  }
  
  @media (max-width: 991px) {
    .menu {
      display: none;
      /* text-align: right; */
  
      background-color: #31344e;
  
      top: 100%;
      right: 0;
      position: absolute;
    }
  
    .menu.show {
      display: flex;
    }
  
    .menu__list {
      flex-direction: column;
    }
  
    .sub__menu__list {
      position: absolute;
      top: -8px;
      left: -189px;
    }
  
    .sub__menu__link {
      background-color: #31344e;
    }
  
    .burger {
      display: block;
      margin-top: 10px;
    }
  
    .input {
      display: none;
    }
  }
  
  
  /* ________БлокФильтраПоиска_______ */
  
 


  .search {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
  }
  
  .search > form {
    display: flex;
    justify-content: space-between;
  }
  
  .search_field {
    font-size: 18px;
    color: #000000;
    border: blueviolet 2px solid;
    width: 83%;
    border-radius: 5px;
    padding: 10px 8px;
  }
  
  .search_button {
    font-size: inherit;
    border-radius: 5px;
    background-color: darkblue;
    color: #fff;
    width: 15%;
    font-weight: lighter;
  }

  .search_button:hover {
    background-color:  blueviolet;
    cursor: pointer;
  }
  
  
