* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  list-style: none;
}

.subscribe_to_news {
  margin-top: 20px;
}

.subscribe_to_news > input {
  border: 1px solid blue;
  padding: 2px;
  font-size: 20px;
}

.button_submit {
  font-size: 16px;
  background: transparent;
  color: #fff;
  border: 1px solid white;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
  transition: 0.2s linear;
}

.button_submit:hover {
  background-color: cornflowerblue;
}

body {
  background-color: #f5f5f5;
  height: 100%;
  /* Для фиксированной вёрстки */
  /* min-width: 1200px; */
}

a {
    color: #fff;
    text-decoration:none;
}

.page {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Занимает весь экран */
}

@media (max-width: 1200px) {
  .page {
    min-width: 970px;
  }
}

@media (max-width: 992px) {
  .page {
    min-width: 750px;
  }
}

@media (max-width: 767px) {
  .page {
    min-width: none;
  }
}

/*_____________Фон______________  */

.background-image {
  /* background: url("../Images/Pattern-Cover-1600x1200.png") center; */
  background: url("../Images/background_image_2.jpg") center;
  background-size: cover;
  max-height: 150px;
}

/*______________Навигация_______________  */

.navigation {
  width: 100%;
  height: 56px;
  background-color: #191f42;
  /* position: fixed; */
  position: sticky;
  top: 0px;
  z-index: 3;
}

.navigation__inner {
  min-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 6px 10px;
  margin: 0 auto;
}

/*___________________Лого________________  */

.logo-block {
  margin-right: auto;
}

.logo {
  display: block;
  padding: 1px 1px;
  min-height: 60px;
  min-width: 60px;
  background: url("../Images/yellow_light.png") no-repeat;
  position: absolute;
  background-size: 54px 54px;
  top: 4px;
}

/* ________________Меню__________________ */

.menu {
  display: block;
  margin-left: auto;
  margin-left: auto;
}

/* Убираем подчеркивание для всех ссылок */

.menu a {
  text-decoration: none;
}

/* Убираем  стандартную стилизацию у списков*/
.menu li {
  position: relative;
  list-style: none;
  /* z-index: 1; */
}

.menu__list {
  display: flex;
}

/* Свойства дествуют только на первый элемент в списке */
.menu__list > li:hover .sub__menu__list {
  display: block;
}

/* Сохранение цвета первого элемента меню при наведении и последующем перемещением
в подменю */
.menu ul li:hover {
  background-color: blueviolet;
}

.menu__link {
  /* Делает элемент блочным */
  display: block;
  padding: 15px 32px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: white;
  transition: 0.3s linear;
}

.menu__link:hover {
  background-color: blueviolet;
  color: white;
}

/* __________Подменю_____________ */

.sub__menu__list {
  display: none;
  position: absolute;
  left: 0;
  top: 38px;
  padding: 10px 0 0 0;
  min-width: 180px;
}

.sub__menu__list li {
  border-bottom: 1px solid white;
}

.sub__menu__list li:last-child {
  border-bottom: none;
}

.sub__menu__link {
  text-align: center;
  /* Превращаем в блочный элемент */
  display: block;
  padding: 10px;
  background-color: #191f42;
  color: #fff;
  transition: 0.3s linear;
  min-width: 190px;
}


.sub__menu__list a:hover {
  background-color: blueviolet;
}

/*______________Регистрация вход_______________  */

p > input {
   border: 1px solid black;
   border-radius: 5px;
   font-size: 24px;
}

form > button {
  margin-top: 20px;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: inherit;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s linear;
}

form > button:hover {
  background-color: blueviolet;
}

section > p > a {
    color: gold;
}
.input {
  margin-left: auto;

  color: white;
  font-weight: 600;
}

.input__menu {
  display: flex;
  list-style: none;
}

.input__item {
  margin-right: 20px;
}

.input__item:last-child {
  margin-right: 0;
}

.input__link {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  padding: 5px 4px;
  transition: 0.3s linear;
}

.input__link:hover {
  /* background-color: #00085C; */
  background-color: blueviolet;
}


/*______________Common_Content_______________  */

  .Content_inner {
    width: 100%;
    position: relative;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }

/*______________Sidebar___FilterBlock_______________  */
 .filter_block {
  position:absolute;
  top: 134px;
  left: -220px;
  height: auto;
  min-width: 200px;
  background-color: #050f42;
  border-radius: 10px;
  padding: 10px 15px;
}


.filter_block_inner {
  color: #fff;
  font-size: 16px;
}


.filter_block_item h4{
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.filter_block_item label{
  margin-bottom: 5px;
}

.filter_block_item input{
  background-color: blueviolet;
}


input[type="checkbox"] + label{
  border-radius: 10px;
  background-color: blueviolet;
}

input[type="checkbox"] {
  border: 5px solid #fff;
}


.select-filter {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  color: black;
  padding: 8px 15px;
  border: gold 1px solid;
  border-radius: 3px;
  font-size: 16px;
  margin-right: 5px;
  margin-top: 5px;
  width: 100%;

  outline: none;

  cursor: pointer;
}

.select:::-ms-expand {
  display: none;
}

.filterListWrapper {
  position: relative;
}

.filterListWrapper::before {
  content: "";

  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);

  display: block;
  width: 10px;
  height: 10px;

  pointer-events: none;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 6px 0 6px;
  border-color: #000000 transparent transparent transparent;
}

.dropdown_button {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  background-color: #fff;
  border: 1px solid #7e9bbd;
  border-radius: 3px;
  max-height: 40px;

  padding: 8px 15px;

  font-size: 16px;
  cursor: pointer;
}

.dropdown_button:focus {
  outline: none;
  box-shadow: 0px 0px 0px 4px rgba(176, 198, 225, 0.6);
}

.dropdown_button::after {
  content: "";

  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);

  display: block;
  width: 10px;
  height: 10px;

  pointer-events: none;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 6px 0 6px;
  border-color: #000000 transparent transparent transparent;
}

.drop-down-input-hidden {
}

.dropdown {
  position: relative;
}

.dropdown_list {
  display: none;
  overflow: hidden;
  border-radius: 3px;
  width: 100%;
  color: #000000;
  z-index: 1000;
}

.dropdown_list--visible {
  display: block;
}

.dropdown_list_item {
  background-color: #fff;
  border: 1px solid #7e9bbd;
  padding: 8px 15px;
  border-bottom: 0px;
  cursor: pointer;
  border-radius: 3px;
}
.dropdown_list_item:first-child {
  margin-top: 1px;
}

.dropdown_list_item:last-child {
  border-bottom: 1px solid #7e9bbd;
}

.dropdown_list_item:hover {
  background-color: rgb(187, 212, 240);
}

.list {
  display: block;
  margin-top: 10px;
}

.control_text {
  margin-left: 10px;
}

.list label {
  display: block;
}

.buttons_block {
  margin-top: 20px;
  display: flex;
  width: 100%;
}

.buttons_block_inner {
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.button_ {
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: inherit;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s linear;
}

.button_:hover {
  background-color: blueviolet;
}


.filter_buttons {
  margin-right: 0;
}

/*___________Pagination__________*/
.pagination {
    margin-top: 20px;
}

.pagination_inner {
    width: auto;
    margin: 0 auto
}

.pagination_inner,
.pagination__link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

.pagination__link {
    position: relative;
    left: -1px;
    top: 1px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #6163b9
}

@media only screen and (max-width: 767px) {
    .pagination__link {
        font-size: 15px
    }
}

@media only screen and (min-width: 1025px) {
    .pagination a.pagination__link:hover {
        background: rgba(102, 88, 175, .15)
    }
}

.pagination__item {
    transition: all .2s ease-in-out;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    margin: 0 2px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

@media only screen and (max-width: 767px) {
    .pagination__item {
        margin: 0 2px;
        width: 33px;
        height: 33px
    }
}

.pagination__item:first-child {
    margin-left: 0
}

.pagination__item:last-child {
    margin-right: 0
}

@media only screen and (max-width: 1023px) {
    .pagination__item:nth-child(3),
    .pagination__item:nth-child(9) {
        display: none
    }
}

@media only screen and (min-width: 1025px) {
    .pagination__item.active:hover
    .pagination__link {
        color: #fff;
        background: #6658af
    }
}

.pagination__item.active .pagination__link {
    color: #fff;
    background: #6658af
}

.pagination__item--dots .pagination__link {
    color: #bfc0f1
}



/* ________Not_Found_Movies_____ */

.not_found_movies {
    margin-top: 50px;
    text-align: center;
    background-color: #f5f5f5;
    color: black;
    width: 968px;

}

/* ________Last_Reviews_Section______ */

.last_reviews {
  position:absolute;
  top: 58px;
  right: -380px;
  height: auto;
  max-width: 370px;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
}

.last_rev {
  background-color: #050f42;
  border-radius: 10px;
}

.last_reviews_header {
 font-size: 18px;
 font-weight: 300;
 text-align: center;
 padding: 10px;
}

.last_reviews_content {
  margin-top: 20px;
  font-size: 18px;
  padding: 20px;
}

.last_reviews_content > .review_item {
  background-color: #191f42;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.last_reviews_content > .review_item:last-child {
  margin-bottom: 0px;
}


.last_reviews_content > .review_item > .item_header > .item_info h5:first-child{
  color: gold;
}

.last_reviews_content > .review_item > .item_header > .item_info a:hover{
  color: gold;
}


.item_header {
  display: flex;
}

.item_header img{
  height: 50px;
}

.item_info {
  width: 100%;
  margin-left: 20px;
  position: relative;
}

.item_content {
  margin-top: 10px;
}

.last_reviews_content > .review_item > .item_content  {
font-size: 16px;
}

.filter_block_inner {
  
}

/* __________Footer__________ */

.footer {
  background-color: #191f42;
  color: #fff;
  margin-top: auto;
}

.container_footer {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.footer_inner {
  padding: 40px 0;
  display: flex;
}

.footer_block {
  width: 33.3333%;
  text-align: center;
}

.footer_block h4 {
  text-transform: uppercase;
  font-size: 16px;
}

/* _______Блок_контактов________ */
.footer_text_links {
  font-style: normal;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts_list {
  text-align: left;
  list-style: none;
  padding: 10px 0;
}

.contacts_list li {
  line-height: 2;
}

/* ________Ссылки_________ */
.social_footer h4 {
  margin-bottom: 15px;
}

.social_links {
  display: flex;
  justify-content: center;
}

.social_item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  background-color: #fff;
  border: 1px solid #91a8b4;
  transition: background 0.1s linear;
  margin: 0 10px;
}

.social_item:hover {
  background-color: #91a8b4;
}

.social_item_first {
    background-color: yellow_light;
    background-image: url('Images/vk-social-network-logo.svg';
}

.social_item_second {
    background-image: url('Images/gitlab_icon_132352.svg');
}

.social_item_third {
    background-image: url('Images/facebook-f-brands.svg');
}


/*__________Copyright____________*/
.footer_copyright {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_copyright_text {
  max-height: 50px;
  line-height: 1.5;
}

.footer_copyright_text span {
  color: gold;
}

/* __________Подписка_на_новости______ */




