
.modal_show {
    display: block;
}

.modal_login{

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  

    font-size: 20px;
    width: 460px;
    padding: 50px 80px;
    /* top: 50%;
    left: 50%; */
    position: fixed;
    background: #191F42;
    border-radius: 10px;
    color: #FFFFFF;
    box-shadow: 0 0 30px rgb(0 0 0 / 90%);
    /* transition: 0.3s linear; */
    
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* opacity:0; Элемент полностью прозрачный (невидимый) */
	/* transition: 1s; Скорость перехода состояния элемента */
	animation: show 0.6s; /* Указываем название анимации, её время и количество повторов*/
    /* animation-fill-mode: forwards; Чтобы элемент оставался в конечном состоянии анимации */
}

@keyframes show{
    0% { transform: translate(-50%, -1000%); }
    70% { transform: translate(-50%, -30%); } 
    90% { transform: translate(-50%, -45%) }  
    100% { transform: translate(-50%, -50%) } 
}

.modal_login > h1{
    text-align: center;
    margin: 20px 0;
}


.modal-close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

.modal-close::before,
.modal-close::after{
    content: "";
    position: absolute;
    left: 0;
    width: 35px;
    height: 5px;
    background-color: #fff;
}

.modal-close::after{
    transform: rotate(45deg);
}

.modal-close::before{
    transform: rotate(-45deg);
}

.form-login
{
    width: 100%;
}


.form-login  h4{
    text-align: center;
    margin: 20px 0;
}


.input_user_info {
    font-size: 18px;
    color: #000000;
    border: blueviolet 2px solid;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 8px;
}

#user_login {
    margin-bottom: 20px;
}

.login-check
{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}


.login-help a:hover{
    color: gold;
}

.login-button{
    font-size: 22px;
    transition: 0.3s linear;
    background: transparent;
    color: #fff;
    border: 1px solid white;
    border-radius: 10px;
    padding: 8px 20px;
    cursor: pointer;
}

.login-button:hover {
    background-color: blueviolet;
}

.login_buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 50%;

}

.modal_error {
    animation-name: shake;
    animation-duration: 0.6s;
}

@keyframes shake {
    0%, 100% {transform: translate(0);}
    10%, 30%, 50%, 70%, 90% {transform: translate(-10px);}
    20%, 40%, 60%, 80% {transform: translate(10px);}
}