<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Для фиксированной вёрстки -->
    <!-- <meta name="viewport" content="width=1200" /> -->
    <meta name="viewport" content="width=device-width" />
    <title>Список Фильмов</title>
    <link rel="stylesheet" href="CSS/list.css" />
    <link rel="stylesheet" href="CSS/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="C:\Users\Admin\Desktop\Education\Программирование\LessonHTML\fontawesome-free-5.14.0-web\fontawesome-free-5.14.0-web\css\all.css
    "
      rel="stylesheet"
    />
    <!--load all styles -->

    <title>SN_Project</title>
  </head>
  <body>
    <!-- Класс для фона -->
    <!--<header class="top">
          <div class="background-image"></div>
         </header> -->
    <!-- Навигация -->
    <div class="page">
      <div class="navigation">
        <div class="navigation__inner">
          <!-- Лого -->
          <div class="logo-block">
            <!-- <div class="logo"> -->
            <a href="index.html" class="logo"></a>
            <!-- </div>  -->
          </div>
          <!-- Меню -->
          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#" class="menu__link">Литература</a>
                <ul class="sub__menu__list">
                  <li><a href="#" class="sub__menu__link">Английский</a></li>
                  <li>
                    <a href="#" class="sub__menu__link">Программирование</a>
                  </li>
                  <li>
                    <a href="#" class="sub__menu__link"
                      >Архитектура компьютера</a
                    >
                  </li>
                  <li>
                    <a href="#" class="sub__menu__link">Компьютерные сети</a>
                  </li>
                  <li>
                    <a href="#" class="sub__menu__link">Операционные системы</a>
                  </li>
                </ul>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link">Списки</a>
                <ul class="sub__menu__list">
                  <li><a href="#" class="sub__menu__link">Фильмы</a></li>
                  <li><a href="#" class="sub__menu__link">Сериалы</a></li>
                  <li><a href="#" class="sub__menu__link">Аниме</a></li>
                </ul>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link">Форум</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link">Правила</a>
              </li>
            </ul>
          </nav>
          <!-- Вход и регистрация -->
          <div class="input">
            <ul class="input__menu">
              <li class="input__item">
                <a href="#" class="input__link">Войти</a>
              </li>
              <li class="input__item">
                <a href="#" class="input__link">Регистрация</a>
              </li>
            </ul>
          </div>
          <!-- burger-menu -->
          <button class="burger" type="button" id="navToggle">
            <span class="burger__item">Menu</span>
          </button>
        </div>

        
      </div>

      

      <!-- Content films -->
      <div class="Content">
        <!-- <div class="filter_block">
          <div class="filter_block_inner">
            <div class="filter_block_item countries">
              <div class="filter_countries_title">
                <div class="filterHeaderText">Страны</div>
              </div>
              <div class="filter_block_item">
                <div class="dropdown">
                  <button class="dropdown_button">Все Страны</button>
                  <ul class="dropdown_list">
                    <li class="dropdown_list_item" data-value="Russia">
                      Россия
                    </li>
                    <li class="dropdown_list_item" data-value="USSR">СССР</li>
                    <li class="dropdown_list_item" data-value="USA">США</li>
                    <li class="dropdown_list_item" data-value="GreatBritain">
                      Великобритания
                    </li>
                    <li class="dropdown_list_item" data-value="France">
                      Франция
                    </li>
                  </ul>
                  <input
                    type="text"
                    name="select-category"
                    value=""
                    class="drop-down-input-hidden"
                  /> 
                </div>
              </div>
            </div> 

            <div class="filter_countries_title">
              <div class="filterHeaderText">Жанры</div>
            </div>
            <div class="filter_block_item">
              <div class="dropdown">
                <button class="dropdown_button">Все Жанры</button>
                <ul class="dropdown_list">
                  <li class="dropdown_list_item" data-value="arthaus">
                    Артхаус
                  </li>
                  <li class="dropdown_list_item" data-value="BlockBuster">Боевик</li>
                  <li class="dropdown_list_item" data-value="Comedy">Комедия</li>
                  <li class="dropdown_list_item" data-value="Thriller">
                    Триллер
                  </li>
                  <li class="dropdown_list_item" data-value="Horrors">
                    Ужасы
                  </li>
                </ul>
              </div>
            </div>


            <div class="filter_countries_title">
              <div class="filterHeaderText">Годы</div>
            </div>
            <div class="filter_block_item">
              <div class="dropdown">
                <button class="dropdown_button">Все годы</button>
                <ul class="dropdown_list">
                  <li class="dropdown_list_item" data-value="Russia">
                    2020
                  </li>
                  <li class="dropdown_list_item" data-value="USSR">2019</li>
                  <li class="dropdown_list_item" data-value="USA">2018</li>
                  <li class="dropdown_list_item" data-value="GreatBritain">
                    2017
                  </li>
                  <li class="dropdown_list_item" data-value="France">
                    2016
                  </li>
                </ul>
              </div>
            </div>

          

            <div class="filter_block_item sort">
              <div class="sort_title">Сортировать по</div>
              <form class="list">
                <label
                  ><input type="checkbox" /><span class="control_text"
                    >Рейтингу</span
                  ></label
                ><br />
                <label
                  ><input type="checkbox" /><span class="control_text"
                    >Названию (A-Z)</span
                  ></label
                ><br />
                <label
                  ><input type="checkbox" /><span class="control_text"
                    >По Дате Выхода</span
                  ></label
                ><br />
                <label
                  ><input type="checkbox" /><span class="control_text"
                    >Количеству оценок</span
                  ></label
                >
              </form>
            </div>

            <div class="filter_block_item my_list">
              <div class="my_list_title">Мои Списки</div>
              <form class="list">
                <label
                  ><input type="checkbox" /><span class="control_text"
                    >Просмотрено</span
                  ></label
                ><br />
                <label
                  ><input type="checkbox" /><span class="control_text"
                    >Брошено</span
                  ></label
                ><br />
                <label
                  ><input type="checkbox" /><span class="control_text"
                    >В Планах</span
                  ></label
                ><br />
              </form>
            </div>

            <div class="filter_block_item buttons_block">
              <div class="buttons_block_inner">
                <div class="reset button_">
                  <div class="reset_text">Сбросить</div>
                </div>
                <div class="apply button_">
                  <div class="apply_text">Применить</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      -->
        
        <div class="Content_inner">
          <div class="container_film_header">
            <div class="container_film_header_text">Список фильмов</div>
          </div>
          <div class="search">
            <form action="" method="GET" >
              <input class="search_field" name="search-film" placeholder="Найти" type="search">
              <button class="search_button" type="submit">Поиск</button>
            </form>
          </div>
          <div class="container_films">
            {% for movie in movie_list %}
            <div class="container_film_item">
              <div class="container_film_item_inner">
                <div class="container_film_img_and_info">
                  <div class="container_film_img">
                    <img src="{{ movie.poster.url }}" alt="" />
                    <div class="film_buttons">
                      <button> Галлерея </button>
                    </div>
                  </div>
                  <div class="container_film_info">
                    <div class="container_film_info_inner">
                      <div class="container_film_about">
                        <div class="container_film_about_inner">
                          <div class="container_film_about_name">
                            <div class="container_film_about_name_text">
                              <h2><a href="{{ movie.get_absolute_url }}">
                                {{ movie.title }}</a></h2>
                            </div>
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Слоган
                            </div>
                            <div class="container_film_about_item_value">
                              {{ movie.tagline }}
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Год
                            </div>
                            <div class="container_film_about_item_value">
                              {{ movie.year }}
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Страна
                            </div>
                            <div class="container_film_about_item_value">
                              {{ movie.country }}
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Режиссер
                            </div>
                            <div class="container_film_about_item_value">
                              {% for director in movie.directors.all %}
                                {{ director.name }}
                              {% endfor %}
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Актеры
                            </div>
                            <div class="container_film_about_item_value">
                              {% for actor in movie.actors.all %}
                                {{ actor.name }}
                              {% endfor %}
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Жанр
                            </div>
                            <div class="container_film_about_item_value">
                              {% for genre in movie.genres.all %}
                                {{ genre.name }}
                              {% endfor %}
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Премьера в мире
                            </div>
                            <div class="container_film_about_item_value">
                              {{ movie.world_premiere }}
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Бюджет
                            </div>
                            <div class="container_film_about_item_value">
                              {{ movie.budget }}
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Сборы в США
                            </div>
                            <div class="container_film_about_item_value">
                              {{ movie.fees_in_usa }}
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Сборы в мире
                            </div>
                            <div class="container_film_about_item_value">
                              {{ movie.fees_in_world }}
                            </div>
                            <hr />
                          </div>
                        </div>
                        <div class="container_film_about_item">
                          <div class="container_film_about_item_spec">
                            Продолжительность
                          </div>
                          <div class="container_film_about_item_value">
                            {{ movie.runtime }} мин.
                          </div>
                          <hr />
                        </div>
                        <div class="container_film_about_item">
                          <div class="container_film_about_item_spec">
                            Год производства
                          </div>
                          <div class="container_film_about_item_value">
                            {{ movie.year }}
                          </div>
                          <hr />
                        </div>
                      </div>
                    </div>

                    <div class="container_film_gall_and_discuss">
                      <div class="container_film_gall_and_discuss_inner">
                        <!-- <button class="item gallery">
                          <span>Галерея</span>
                        </button>
                        <button class="item discussion">
                          <span> Обсуждение </span>
                        </button>
                        <button class="item add">
                          <span>
                            <span> Добавить в список </span>
                            <i class="fas fa-chevron-down"></i>
                          </span>
                        </button> -->
                        <!-- <div >
                          <a href="#" class="add">  </a>
                        </div> -->
                      </div>
                    </div>

                  </div>
                </div>
                <div class="container_film_description">
                  <div class="container_film_description_text">
                    {{ movie.description }}
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

            <!-- <div class="container_film_item">
              <div class="container_film_item_inner">
                <div class="container_film_img_and_info">
                  <div class="container_film_img">
                    <img src="Images/films/swep4.jpeg" alt="" />
                  </div>
                  <div class="container_film_info">
                    <div class="container_film_info_inner">
                      <div class="container_film_name">
                        <div class="container_film_name_text">
                          Звёздные войны: Эпизод 4 — Новая надежда
                        </div>
                      </div>
                      <div class="container_film_about">
                        <div class="container_film_about_inner">
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Год производства
                            </div>
                            <div class="container_film_about_item_value">
                              1977
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Страна
                            </div>
                            <div class="container_film_about_item_value">
                              США
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Жанр
                            </div>
                            <div class="container_film_about_item_value">
                              фантастика, боевик, фэнтези, приключения
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Режиссер
                            </div>
                            <div class="container_film_about_item_value">
                              Джордж Лукас
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Сценарист
                            </div>
                            <div class="container_film_about_item_value">
                              Джордж Лукас
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Бюджет
                            </div>
                            <div class="container_film_about_item_value">
                              $11 000 000
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Сборы в мире
                            </div>
                            <div class="container_film_about_item_value">
                              $503 015 849
                            </div>
                            <hr />
                          </div>
                          <div class="container_film_about_item">
                            <div class="container_film_about_item_spec">
                              Продолжительность
                            </div>
                            <div class="container_film_about_item_value">
                              121 мин. / 02:01
                            </div>
                            <hr />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="container_film_gall_and_discuss">
                      <div class="container_film_gall_and_discuss_inner">
                        <button class="item gallery">
                          <span>Галерея</span>
                        </button>
                        <button class="item discussion">
                          <span> Обсуждение </span>
                        </button>
                        <button class="item add">
                          <span>
                            <span> Добавить в список </span>
                            <i class="fas fa-chevron-down"></i>
                          </span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container_film_description">
                  <div class="container_film_description_text">
                    Татуин. Планета-пустыня. Уже постаревший рыцарь Джедай Оби
                    Ван Кеноби спасает молодого Люка Скайуокера, когда тот
                    пытается отыскать пропавшего дроида. С этого момента Люк
                    осознает свое истинное назначение: он один из рыцарей
                    Джедай. В то время как гражданская война охватила галактику,
                    а войска повстанцев ведут бои против сил злого Императора, к
                    Люку и Оби Вану присоединяется отчаянный пилот-наемник Хан
                    Соло, и в сопровождении двух дроидов, R2D2 и C-3PO, этот
                    необычный отряд отправляется на поиски предводителя
                    повстанцев – принцессы Леи. Героям предстоит отчаянная
                    схватка с устрашающим Дартом Вейдером – правой рукой
                    Императора и его секретным оружием – «Звездой Смерти».
                  </div>
                </div>
              </div>
            </div> -->

          </div>
        </div>
      </div>

      <!-- Footer -->
      <footer class="footer">
        <div class="container_footer">
          <div class="footer_inner">
            <div class="footer_block">
              <address class="footer_text_links">
                <h4>Контакты</h4>
                <ul class="contacts_list">
                  <li>Почта: ksewnv@gmail.com</li>
                  <li>Телефон: +7936541208</li>
                </ul>
              </address>
            </div>
            <div class="footer_block">
              <div class="social_footer">
                <h4>Ссылки</h4>
                <div class="social_links">
                  <a href="#" class="social_item">
                    <img
                      src="{% static 'Images/vk-social-network-logo.svg' %}"
                      alt=""
                      height="24"
                    />
                  </a>
                  <a href="#" class="social_item">
                    <img src="{% static 'Images/gitlab_icon_132352.svg' %}" alt="" height="24"
                  /></a>

                  <a href="#" class="social_item">
                    <img
                      src="{% static 'Images/facebook-f-brands.svg' %}"
                      alt=""
                      height="24"
                    />
                  </a>
                </div>
              </div>
            </div>
            <div class="footer_block">
              <div class="footer_copyright">
                <div class="footer_copyright_text">
                  <p>Copyright © 2020 <span>Tteam</span> All Rights Reserved</p>
                  <p>Made with VS Code by <span> Timur Iskhakov </span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="{% static 'JS/main.js' %}"></script>

  </body>
</html>
